<h1>Task Details</h1>
<p><%= @task.title %></p>
<p><%= @task.details %></p>
<p><%= check_box_tag 'completed', '1', @task.compeleted, disabled: true %></p>


<%= link_to "Back to Tasks", tasks_path %>
